[Unit]
Description=Jump Host SSH Server
After=network.target

[Service]
ExecStart=/opt/jayoh -config /etc/jayoh/config.json
ExecReload=/bin/kill -HUP $MAINPID
KillMode=control-group
Restart=Always
User=jayoh
AmbientCapabilities=CAP_NET_BIND_SERVICE
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=jayoh
LimitNOFILE=10000
